* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Card Button*/
.card > .footer{
  background-color: #2a454e;
}

.card {
  text-decoration: none;
}


.card > .footer {
  height: 5.5rem;
}

.card-footer {
  height: 100%;
}

/*Nav Background*/
.nav{
  background-color: #2a454e;
}

/*Register page*/
.form-register > .register-button {
  background-color: #2a454e;
  border-color: transparent;
  outline: none;
}

.form-register > .register-button:hover {
  background-color: #2a454e;
  border-color: transparent;
  outline: none;
}

.form-register > .register-button:disabled {
  background-color: #2a454e;
  border-color: transparent;
  outline: none;
}

.form-button > .bg:hover {
  background-color: #27374D;
  border-color: transparent;
  outline: none;
}

.form-register > .login-button {
  background-color: #2a454e;
  border-color: transparent;
  outline: none;
}

.form-register > .login-button:hover {
  background-color: #2a454e;
  border-color: transparent;
  outline: none;
}

.form-register > .form-text {
  font-size: 1.1rem;
}

/*Admin Page Button*/
.col-button > .bg{
  background-color: #A569BD;
  border-color: transparent;
  outline: none;
}


/*Login Page*/
.form-login > .login-button {
  background-color: #2a454e;
  border-color: transparent;
  outline: none;
}

.form-login > .login-button:hover {
  background-color: #2a454e;
  border-color: transparent;
  outline: none;
}

.form-login > .login-button:disabled {
  background-color: #2a454e;
  border-color: transparent;
  outline: none;
}

.form-login > .sign-up-button {
  background-color: #2a454e;
  border-color: transparent;
  outline: none;
}

.form-login > .sign-up-button:hover {
  background-color: #2a454e;
  border-color: transparent;
  outline: none;
}

.login > .login-text {
  font-size: 1.1rem;
}

/*Admin Dashboard*/

.navAdmin {
  background-color: #464444;
}

.admin-button > .bg {
  background-color: #464444;
  border-color: transparent;
  outline: none;
}

.admin-button > .bg:hover {
  background-color: #464444;
  border-color: transparent;
  outline: none;
}

.custom-button {
  width: 6rem;
}

/*Checkout page*/

.checkout-card > .checkout-btn {
  background-color: #2a454e;
  border-color: transparent;
  outline: none;
}

.checkout-card > .checkout-btn:hover {
  background-color: #2a454e;
  border-color: transparent;
  outline: none;
}

.checkout-card > .cancel-btn {
  background-color: #86dbf8;
  border-color: transparent;
  outline: none;
}

/*Banner Page*/

.paragraph {
  font-size: 1.5rem;
}

.banner > .btn {
  background-color: #2a454e;
  border-color: transparent;
  outline: none;
}

.banner > .btn:hover {
  background-color: #2a454e;
  border-color: transparent;
  outline: none;
}

.card-description {
  white-space: pre-line;
  overflow: hidden;
  text-align: justify;
  text-justify: inter-word;
}




.cardHighlight {
  min-height: 30rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
